h1
{ position:relative;
	left:400px;
	top:5px;
	text-decoration:underline;
		
}

form
{   
    position:relative;
	left:400px;
	top:5px;
	color:black;
    font:bold;
	font-size:15px;
	font-family:comic sans ms;
	text-shadow:3px 5px 5px white;
}

#addedTest
{
    position:relative;
	left:400px;
	top:5px;
	color:black;
    font:bold;
	font-size:15px;
	font-family:comic sans ms;
	text-shadow:3px 5px 5px white;
}
