<h1>Add-Address Form</h1>
<form #data="ngForm" (ngSubmit)="data.valid && addAddress(data)">

    <div>
        <label>RetailerId</label>
        <input type="text" name="retailerId" ngModel #retailerIdValueCtrl="ngModel" required>
        <div *ngIf="retailerIdValueCtrl.errors!=null && retailerIdValueCtrl.errors.required">
            RetailerId Value is required.
        </div>
    </div>
    <br>
    <div>
        <label>BuildingNo</label>
        <input type="text" name="buildingNo" ngModel #buildingNoValueCtrl="ngModel" required>
        <div *ngIf="buildingNoValueCtrl.errors!=null && buildingNoValueCtrl.errors.required">
            Building No. Value is required.
        </div>
    </div>
    <br>

    <div>
        <label>City</label>
        <input type="text" name="city" ngModel #cityValueCtrl="ngModel" required>
        <div *ngIf="cityValueCtrl.errors!=null && cityValueCtrl.errors.required">
            City Value is required.
        </div>
    </div>
    <br>
    <div>
        <label>State</label>
        <input type="text" name="state" ngModel #stateValueCtrl="ngModel" required>
        <div *ngIf="stateValueCtrl.errors!=null && stateValueCtrl.errors.required">
            State Value is required.
        </div>
    </div>
    <br>
    <div>
        <label>Zip</label>
        <input type="text" name="zip" ngModel #zipValueCtrl="ngModel" required minlength="6">
        <div *ngIf="zipValueCtrl.errors!=null && zipValueCtrl.errors.required">
            Zip Value is required.
        </div>
    </div>
    <br>
    <div>
        <label>Field</label>
        <input type="text" name="field" ngModel #fieldValueCtrl="ngModel" required>
        <div *ngIf="fieldValueCtrl.errors!=null && fieldValueCtrl.errors.required">
            Field Value is required.
        </div>
    </div>

    <br>
    <input type="submit" value="Add Address" />
</form>


<div id="addedTest" *ngIf="addedAddress!=null">
    <h3>Address added successfully</h3>
    addressId = {{addedAddress.addressId}}
    <br>
    retailerId = {{addedAddress.retailerId}}
    <br>
    buildingNo = {{addedAddress.buildingNo}}
    <br>
    city = {{addedAddress.city}}
    <br>
    state = {{addedAddress.state}}
    <br>
    zip = {{addedAddress.zip}}
    <br>
    field = {{addedAddress.field}}
    <br>
</div>

