h2
{ position:relative;
	left:400px;
	top:5px;
	text-decoration:underline;
		
}

form
{
  
    position:relative;
	left:400px;
	top:5px;
	color:black;
    font:bold;
	font-size:15px;
	
}
#result
{
  
    position:relative;
	left:400px;
	top:5px;
	color:black;
    font:bold;
	font-size:15px;
	
}

