<h2>Find Address form</h2>
<form #data="ngForm" (ngSubmit)="data.valid && findAddressById(data)">
    <div>
        <label>AddressId</label>
        <input type="text" name="addressId" ngModel #addressIdValueCtrl="ngModel" required>
        <div *ngIf="addressIdValueCtrl.errors!=null && addressIdValueCtrl.errors.required">
            AddressId Value is required.
        </div>
    </div>
    <input type="submit" value="Find Address" />
</form>


<div id="result" *ngIf="foundStatus==='found'">
    <h3>Address Found
    </h3>
    addressId = {{foundAddress.addressId}}
    <br>
    retailerId = {{foundAddress.retailerId}}
    <br>
    <br>
    buildingNo = {{foundAddress.buildingNo}}
    <br>
    city = {{foundAddress.city}}
    <br>
    state = {{foundAddress.state}}
    <br>
    zip = {{foundAddress.zip}}
    <br>
    field = {{foundAddress.field}}
    <br>

</div>


<div id="result" *ngIf="errMsg !== null">
    <h3>{{errMsg}}
    </h3>
</div>

